.header-class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 15px 7%;
    >div:first-child{
        width: 50px;
        margin: 10px;
        >img{
            width: 100%;
        }
    }
    >ul{
        list-style: none;
        flex: 1;
        text-align: center;
        >li{
            display: inline-block;
            margin: 10px 20px;
            >a{
                font-size: 14px;
                text-decoration: none;
                color: #000000;
            }
        }
        >li:hover{
            background: #00FFFF00;
            >a{
                color: #00FFFF;
            }
        }
        li.active{
            >a{
                color: #00FFFF;
            }
        }
    }
    >button{
        width: 100px;
        height: 40px;
        background: #000000;
        border: none;
        >a{
            color: #FFFFFF;
            text-decoration: none;
            font-size: 14px;
        }
    }
    >button:hover{
        background: #FFFFFF;
        border: 1px solid #00FFFF;
        >a{
            color: #00FFFF;
        }
    }
}
